body
{
	background-color: #2D84DC;
}
p,h2
{
	font-family: calibri;
}

#logo
{
	float: left;
}
#navigation
{
	position: fixed;
	top:20%;
	left:2%;
	display: inline-block;
	width: 20%;
	margin-top:0%;
	padding-top: 0%;
}
.bouton
{
	background-color: #F9A34D;
	width:50%;
	margin:1%;
	padding:1%;
	text-align:center;
	
}
.bouton:hover
{
	margin-left:10%;
}
a
{
	text-decoration: none;
	color: black;
}

.current
{
	width: 60%;
}

#bloc_prin
{
	display: block;
}
#notes
{
	margin-left:30%;
}
#info
{
	margin-left:30%;
	margin-bottom:7%;
}
#piano
{
	text-align:center;
}
.photoTexte
{
	display:none;
}
.animal
{
	width:40%;
	vertical-align: center;
}
.texte
{
	position: fixed;
	background-color:white;
	padding:1%;
	width:25%;
	top:5%;
	right:13%;
}
#vide
{
	background-color: white;
	padding:13%;
	margin-right:15%;
	
}